.example-card {
  max-width: 500px;
  margin  : 10px;
}

.example-header-image {
  background-size: cover;
}

.text-justify{
  text-align: justify;
}

.catalog-title{
  color: #fff;
  padding-top: 30px;
}
.mycol{
  color: hotpink;
}
.colweight{
  color: #cd92cc;
}
p {
  margin-top: 1em; /* Отступ сверху */
  margin-bottom: 1em; /* Отступ снизу */
}
